# Ignore Python cache
__pycache__/
*.pyc

# Ignore temporary Ansible files
*.retry

# Ignore installers (BIG files)
installers/
roles/*/files/*.exe
roles/*/files/*.msi

# Ignore VS Code configs
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db
