- name: Check StarUML installed
  win_stat:
    path: "{{ path }}"
  register: su_stat

- name: StarUML already installed — skipping
  debug:
    msg: "StarUML already installed — skipping"
  when: su_stat.stat.exists

- name: Ensure installer folder exists
  win_file:
    path: "{{ installer_folder }}"
    state: directory
  when: not su_stat.stat.exists

- name: Check installer file exists on Windows host
  win_stat:
    path: "{{ dest }}"
  register: su_installer

- name: Copy installer from control node to Windows host
  win_copy:
    src: "{{ src }}"
    dest: "{{ dest }}"
  when:
    - not su_stat.stat.exists
    - not su_installer.stat.exists

- name: Install StarUML silently
  win_command: '"{{ dest }}" /silent'
  when: not su_stat.stat.exists
